.nav navbar-nav{
  color: black;
}
.form-control{
     margin-left:  1px;  margin-right:3px;  margin-bottom:  3px;
     margin-top: 7px;
}

h1{
    font-size: 22px;
    margin-top: 25px;
    margin-left:60px;
}
h4{
  font-size: 18px;
  color: rgba(0,0,10,0.8)
}
p{
  font-size: 14px;
  color: rgba(0,0,0,0.4);
}
.rd
{
    margin-top: 20px;
    float:left;
}
.gif {

  margin-top:40px;
  border-left: 20px solid white;
  border-top: 20px solid white;
  border-right: 20px solid white;
  border-bottom: 20px solid white;
}
.para
{
  margin-top: 30px;
  font-size: 18px;
  color: rgba(0, 0, 15, .7);
}
.shots{
  float: right;
  margin-top: 0px;
}
.col-xs-12
{
padding-top:150px;
padding-left: 19px;
padding-right: 10px;
font-size: 17px;
list-style-type:none;
color: rgba(0,0,0,0.5)
}

.col-xs-4
{
  padding-top: 20px;
padding-right: 10px;
}
.fa-plus-square
{
  float: right;
}
.lie
{
  float: right;
}
.tags
{
  color: rgba;
  font-size:18px;
  padding-left: 20px;
  margin: 0px;
}
a:link {
  background-color: black;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color:rgba(0,0,10,0.5);
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
  }
  body{
    background-color: rgba(0,5,10,.1);
  }
.flt
{
  float:right;
  list-style-type: none;

}
.web {
  padding-top: 0px;
  color: rgba(0, 0, 0, 5);
  font-family: cursive;
}
.img-rounded{
  background-repeat: no-repeat;
      background-size: cover;

      overflow:hidden;
      -webkit-border-radius:50px;
      -moz-border-radius:50px;
      border-radius:50px;
      width:50px;
      height:50px;
     float: left;
}
.gray{
  padding-left: 60px;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 15, .7);
line-height: 2;
}
.meta{
  padding-left: 60;
}
.hearted{
  float: right;
   border-width:200px;
}
